
body{
    margin: 0;
    background-color: black;
    overflow:hidden;


}
#ocean {
    position: fixed;
    inset: -30px;
    background-image: url("ocean.webp");
    background-position: center;
    background-size: cover;
    pointer-events:none;
    z-index: 0;
}

.bubble {
    position:absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 10px 20px rgb(255, 255, 255)
    
}
